{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Acerca de...</h1>
        <p class="lead">Si usted esta observando esto quiere decir que el servidor flask esta funcionando
            correctamente!!</p>
        <hr class="my-4">
        <p>Este sitio esta siendo construido en Python utilizando Flask</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=fxavwHPJ36o" role="button">Leer
                mas</a>
        </p>
    </div>
{% endblock %}